allow init {
  proc_boot_reason
  proc_last_kmsg
}:file r_file_perms;

allow init {
  proc_last_kmsg
  sysfs
}:file setattr;

allow init sysfs_leds:lnk_file read;
