typeattribute system_server system_executes_vendor_violators;

# Input devices
r_dir_file(system_server, vendor_idc_file);
r_dir_file(system_server, vendor_keylayout_file);

allow system_server system_server:dir { search };

allow system_server proc_last_kmsg:file getattr;

allow system_server sysfs:file read;
allow system_server vendor_default_prop:file read;

