allow thermal-engine property_socket:sock_file write;
allow thermal-engine sysfs:dir read;
allow thermal-engine sysfs_devfreq:dir search;
allow thermal-engine sysfs_devfreq:file { read write };

allow thermal-engine init:unix_stream_socket connectto;
allow thermal-engine sysfs:dir open;
allow thermal-engine sysfs_devfreq:dir read;

allow thermal-engine system_prop:file read;
allow thermal-engine system_prop:property_service set;
