typeattribute ueventd data_between_core_and_vendor_violators;

r_dir_file(ueventd, vfat)
r_dir_file(ueventd, wifi_vendor_data_file)

allow ueventd debugfs:dir read;
